@font-face {
  font-family: 'Ubuntu-Bold';
  src: url(./assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: 'Ubuntu-Medium';
  src: url(./assets/fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: 'Ubuntu-Regular';
  src: url(./assets/fonts/Ubuntu-Regular.ttf);
}

:root {
  --White: hsl(0, 0%, 100%);
  --MarineBlue: hsl(213, 96%, 18%);
  --Purplish: hsl(243, 100%, 62%);
  --PastelBlue: hsl(228, 100%, 84%);
  --LightBlue: hsl(206, 94%, 87%);
  --StrawberryRed: hsl(354, 84%, 57%);
  --CoolGray: hsl(231, 11%, 63%);
  --LightGray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
}